body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbarcontainer {
    background-color: #636363;
    color: white;
    position: fixed; /*keeps the bar at the top of the page when scrolling*/
    width: 100%; /* determines the size of the bar. stuck to top, and all of width*/
    top: 0;
    height: 3.5em; /* Explicitly set a smaller height for the navbar */
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Space items out */
    align-items: center; /* Center items vertically */
    padding: 0 20px; /* Add some padding to the left and right */
}
.navbarcontainer ul { /* The list of nav items */
    list-style: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
    display: flex; /* Display list items in a row */
    padding-right: 30px;
}

.navbarcontainer .name{ /* the text of the name in the navbar*/
    font-size: 20px;
    padding-left: 20px;
}

.navbarcontainer a { /* the actual text/link/size of the nav bar items */
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-weight: bold;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 18px;
    padding-left: 10px;
}
.navbarcontainer a:hover{
    background-color: hsl(0,0%,10%);
    color: green;
}

section {
    padding: 2em;
    max-width: 800px;
    margin: 5em auto 0;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5em;
}