
body{
    margin: 2%;
    padding: 0;
    height: 100%;
    background-color: white; /* Fallback background color */
}
p {
    font-size: 25px;
}

.frontpic {
    background-image:  
        url('images/fire.jpg'),
        linear-gradient(135deg, #e68e8e, #e8966e, #dab255);
    background-blend-mode: overlay; /* Blend the gradient with the image */
    background-size: cover; /* Ensure the image covers the container */
    background-attachment: fixed;
    max-width: 100%; /* Adjust width as needed */
    min-height: 800px; /* Adjust height as needed */
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 90%);
    background-position: bottom 5%;
    opacity: 0.9;
}


/*START NAVBAR*/
.navbar_container {
    margin: 2%;
    color: white;
    position: fixed; /*keeps the bar at the top of the page when scrolling*/
    width: 100%; /* determines the size of the bar. stuck to top, and all of width*/
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Center items vertically */
    z-index: 1;
    transition: margin 0.2s;
}
.navbar_name{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.navbar_container ul{
    display: flex;
    font-size: 20px;
    list-style-type: none;
    padding-right: 6%;
    padding-left: 20%;
    transition: padding 0.3s;
}
.navbar_container li a { /* the actual text/link/size of the nav bar items */
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 20px 10px 20px 10px;
}

.navbar_container a:hover{
    color: black;
}
/*END NAVBAR*/

.labels{
    min-height: 100px;
    max-width: 100%;
}

/*ABOUT ME SECTION*/
.about_container{
    min-height: 700px;
    max-width: 100%;
    background: linear-gradient(135deg, #da3d3d, #f16d2b, #cd9f32);
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    display: flex;
    justify-content: center;

}

.prof_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-left: 300px;
}

.pics_container{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
    width: 50%;
}

/*ABOUT ME END*/


.experience_container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(135deg, #da3d3d, #f16d2b, #cd9f32);
    font-family: "Source Sans Pro";
    color: white;
}

*::before,
*::after {
  margin: 2%;
  padding: 0;
  box-sizing: border-box;
}


/*COPIED IN*/
.experience_container ul {
    padding: 50px 0;
}
  
.experience_container ul li {
    position: relative;
    list-style-type: none;
    width: 6px;
    background-color: white;
    margin: 0 auto;
    padding-top: 50px;
}
  
.experience_container ul li::after {
    background: white;
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
  
  
.experience_container ul li div{
    position: relative;
    width: 400px;
    padding: 15px;
    border-radius: 5px;
    bottom: 0;
    background: rgba(42,50,113, .28);
}
  
.experience_container ul li:nth-child(odd) div {
    left: 45px;
}
.experience_container ul li:nth-child(even) div {
    left: -445px;
}
  
.experience_container time {
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}
  
.experience_container ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}
  
.experience_container ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}
  
.experience_container ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}
  
.experience_container ul li.show div {
    transform: none;
    visibility: visible;
    opacity: 1;
}
  
@media screen and (max-width: 900px) {
    .experience_container ul li div {
      width: 250px;
    }
    .experience_container ul li:nth-child(even) div {
      left: -289px;
      /*250+45-6*/
    }
}