
body{
    margin: 2%;
    padding: 0;
    height: 100%;
    background-color: white; /* Fallback background color */

}
p {
    font-size: 25px;
}

.frontpic {
    background-image:  
        url('images/downtown.jpg'),
        linear-gradient(135deg, #e68e8e, #e8966e, #dab255);
    background-blend-mode: overlay; /* Blend the gradient with the image */
    background-size: cover; /* Ensure the image covers the container */
    background-attachment: fixed;
    max-width: 100%; /* Adjust width as needed */
    min-height: 800px; /* Adjust height as needed */
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 90%);
    background-position: top;
    opacity: 0.9;
}


/*START NAVBAR*/
.navbar_container {
    margin: 2%;
    color: white;
    position: fixed; /*keeps the bar at the top of the page when scrolling*/
    width: 100%; /* determines the size of the bar. stuck to top, and all of width*/
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Center items vertically */
    z-index: 1;
    transition: margin 0.2s;
}
.navbar_name {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.navbar_container .nav_item a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 20px 10px 20px 10px;
}

.navbar_container .nav_pic {
    position: absolute;
    top: -20px;
    left: 30%;
    opacity: 0;
    text-decoration: none;
}

.navbar_container ul {
    display: flex;
    font-size: 20px;
    list-style-type: none;
    padding-right: 6%;
    padding-left: 20%;
    transition: all 0.3s ease-out;
}

.navbar_container .nav_item {
    position: relative;
    transition: all 0.3s ease-out;
}

.navbar_container .nav_item:hover .nav_link {
    opacity: 0;
    transition-delay: 0ms;
    transition: all 0.3s ease-in-out;
}
.navbar_container .nav_item:hover .nav_pic {
    opacity: 1;
    transition: all 300ms ease-in-out;
}
/*END NAVBAR*/


.labels {
    max-height: 150px;
    max-width: 100%;
}
.label_list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    list-style-type: none;
    padding: 0;
    margin-top: -90px;
}
.label_item img{
    width: auto;
    max-height: 150px;
    margin: 10px;
    transition: all 0.3s ease-in-out;

}

/*ABOUT ME SECTION*/
.about_container {
    min-height: 700px;
    max-width: 100%;
    margin-top: 50px;
    background: linear-gradient(135deg, #da3d3d, #f16d2b, #cd9f32);
    clip-path: polygon(0 10.5%, 100% 0, 100% 90%, 0 100%);
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.prof_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
    margin-left: auto;
}

.pics_container {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
    width: 50%;
}
/*ABOUT ME END*/


.skills_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image:  
    url('images/fire.jpg'),
    linear-gradient(135deg, #e68e8e, #e8966e, #dab255);
    background-blend-mode: overlay; /* Blend the gradient with the image */
    background-size: cover; /* Ensure the image covers the container */
    background-attachment: fixed;
    max-width: 100%; /* Adjust width as needed */
    max-height: 800px; /* Adjust height as needed */
    clip-path: polygon(0 100%, 0 10%, 100% 0, 100% 100%);
    background-position: bottom 5%;
    opacity: 0.9;
    color: white;
    padding-bottom: 150px;
}



.experience_container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(135deg, #da3d3d, #f16d2b, #cd9f32);
    font-family: "Source Sans Pro";
    color: black;
}

.work_list {
    display:grid;
    grid-template-rows: 500px 500px 500px 500px 500px;
    grid-template-columns: auto 600px 5% 5% 600px auto;
}

.work_item {
    list-style-type: none;
    background-color: #667;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 100px;
}
.work_pics {
    max-width: 85%;
    max-height: auto;
    border-radius: 20px;
    margin-bottom: 30px
}
.item_1 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
.item_2 {
    grid-row: 2 / 3;
    grid-column: 5 / 6;
}
.item_3 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}
.item_4 {
    grid-row: 4 / 5;
    grid-column: 5 / 6;
}
.item_5 {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
}
.item_6 {
    list-style-type: none;
    grid-row: 1 / 6;
    grid-column: 3 / 4;
    border-right: solid 5px white;
}
.work_item h2 {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0;
    padding-bottom: 5px;
}
.work_item p {
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0px 10px 30px 10px;
}
.work_item h1 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0;
    padding: 5px;
}

.experience_container p {
-webkit-transition: all 0.7s ease-in-out;
-moz-transition: all 0.7 ease-in-out;
-ms-transition: all 0.7s ease-in-out;
-o-transition: all 0.7s ease-in-out;
transition: all 0.7s ease-in-out;	
}

#work_item_left .more-padding {
  padding-right:100px;
}

#work_item .more-padding {
  padding-left:100px;
}
  
  

